body {
  font-family: "Poppins", sans-serif;
  transition: all 0.5s ease-out;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #f5f5f5;
  height: 100dvh;
  overflow: auto;

  p {
    color: #2d4059;
  }

  .ls-b {
    letter-spacing: -1px;
  }

  .ls-s {
    letter-spacing: -0.5px;
  }

  .content-wrapper {
    .breadcrumbs-box {
      border-bottom: 0.5px solid #8d8d8d;
      .page-title {
        font-size: 20px;
        letter-spacing: -1px;

        @include media-breakpoint-down(lg) {
          font-size: 16px;
          letter-spacing: -1px;
        }
      }

      .breadcrumb-item {
        font-size: 14px;
        letter-spacing: -0.5px;
      }

      .breadcrumb-item a:hover {
        text-decoration: underline !important;
      }

      .breadcrumb-item a {
        color: #2d4059;
      }

      .breadcrumb-item.active {
        color: #648bbf;
      }
    }

    .drop-area {
      padding: 12px;
      background: white;
      text-align: center;
      border-radius: 20px;
    }

    .drop-area .default-view .upload-icon {
      font-size: 36px;
    }

    .drop-area .default-view .file-desc {
      letter-spacing: -0.5px;
      color: #2d4059;

      @include media-breakpoint-down(lg) {
        font-size: 14px;
      }
    }

    .drop-area.active .default-view .file-desc {
      color: blue;
    }

    .drop-area.active .img-view {
      border-color: blue;
    }

    .drop-area .img-view {
      border-color: gray;
      border: 2px dashed grey;
    }

    .drop-area.active .default-view .img-view {
      border-color: blue;
    }

    .drop-area.active .default-view .upload-icon {
      color: blue;
    }

    @include media-breakpoint-down(lg) {
      .drop-area .default-view .upload-icon {
        font-size: 30px;
      }
    }

    .form-label {
      letter-spacing: -0.5px;

      @include media-breakpoint-down(lg) {
        font-size: 14px;
      }
    }
  }
}
