body {
    font-family: "Poppins", sans-serif;
    transition: all 0.5s ease-out;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #f5f5f5;
    min-height: 100dvh;
    overflow-y: scroll;

    p {
        color: #2d4059;
    }

    .orange {
        color: #f07b3f;
    }

    .content-wrapper {
        background-color: transparent !important;
        .breadcrumb-item {
            font-size: 14px;
        }
        .breadcrumb-item a {
            color: #2d4059;
        }

        .breadcrumb-item a:hover {
            text-decoration: underline !important;
        }

        .breadcrumb-item.active {
            color: #648bbf;
        }

        .head-title {
            font-size: 24px;
            letter-spacing: -2px;

            @include media-breakpoint-down(lg) {
                font-size: 20px;
                letter-spacing: -1px;
            }
            @include media-breakpoint-down(md) {
                font-size: 12px;
                letter-spacing: 0px;
            }
        }

        ::placeholder {
            color: #b0a8a8;
        }

        .filter-title-wrapper {
            font-size: 28px;
            letter-spacing: -2px;

            @include media-breakpoint-down(lg) {
                font-size: 24px;
                letter-spacing: -1px;
            }
            @include media-breakpoint-down(md) {
                font-size: 20px;
                letter-spacing: 0px;
            }
        }
        .list-wrapper .list-wrapper-list {
            a {
                color: black;
            }
        }

        .list-wrapper-list:hover {
            text-decoration: underline;
        }

        .alphabet-filter-wrapper {
            a {
                color: black;
                text-decoration: none;
            }

            @include media-breakpoint-down(md) {
                font-size: 14px;
            }
        }

        .alphabet-filter:hover {
            text-decoration: underline;
        }

        .main-title {
            font-size: 44px;
            letter-spacing: -2px;

            @include media-breakpoint-down(lg) {
                font-size: 28px;
                letter-spacing: -1px;
            }
            @include media-breakpoint-down(md) {
                font-size: 16px;
                letter-spacing: 0px;
            }
        }

        .jti-logo {
            max-width: 170px;

            @include media-breakpoint-down(lg) {
                max-width: 140px;
            }
            @include media-breakpoint-down(md) {
                max-width: 100px;
            }
        }

        .search-wrapper {
            z-index: 900;
        }

        .btn-danger {
            background-color: #ea5455 !important;
        }

        .search-wrapper.active {
            background-color: white;

            .suggestion-box {
                display: block;

                .suggestion-item:hover {
                    background-color: #ea5455;
                    color: white;
                    cursor: pointer;
                }
            }
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }

        .suggestion-box {
            display: none;
            background-color: white;
        }

        .input-group {
            width: 100%;

            -webkit-box-shadow: -1px 24px 26px -8px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: -1px 24px 26px -8px rgba(0, 0, 0, 0.15);
            box-shadow: -1px 24px 26px -8px rgba(0, 0, 0, 0.15);

            .search-input {
                font-size: 20px;
                @include media-breakpoint-down(lg) {
                    font-size: 16px;
                }
            }
        }

        .year-input {
            border-radius: 8px !important;
        }

        .filter-wrapper {
            .filter-box {
                cursor: pointer;
                .filter-text {
                    font-size: 14px;

                    @include media-breakpoint-down(lg) {
                        font-size: 12px;
                    }
                }

                .folder-logo {
                    width: 90px;
                }

                transition: all 0.2s ease-in-out;
            }

            .filter-box:hover {
                background-color: white;
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            }
        }

        .checkbox-list-box {
            max-height: 110px;
            overflow: auto;
        }

        .btn-apply {
            background-color: #ea5455;
            color: white;
            font-size: 16px;
        }

        .main-content {
            margin-top: 15%;

            @include media-breakpoint-down(lg) {
                margin-top: 20%;
            }
            @include media-breakpoint-down(md) {
                margin-top: 30%;
            }
            @include media-breakpoint-down(sm) {
                margin-top: 40%;
            }
        }

        .content {
            z-index: 800;
            .filter-box {
                background-color: white;
                border-radius: 16px;

                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                /* Chrome, Safari, Edge, Opera */
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                /* Firefox */
                input[type="number"] {
                    -moz-appearance: textfield;
                }
            }

            .thesis-list-box {
                .pagination-nav {
                    font-size: 12px;
                }

                .thesis-box {
                    .thesis-item {
                        .thesis-title-wrapper {
                            font-weight: 500;
                            font-size: 20px;
                            .thesis-title {
                                color: #ea5455;
                                text-decoration: none;
                            }

                            .thesis-title:hover {
                                text-decoration: underline;
                            }

                            @include media-breakpoint-down(lg) {
                                font-size: 16px;
                            }
                        }
                        .thesis-title:hover {
                            text-decoration: underline !important;
                        }

                        .thesis-identity:hover {
                            text-decoration: underline !important;
                        }

                        .link-wrapper {
                            font-size: 12px;
                        }

                        .document-label {
                            color: #2d4059;
                        }

                        .thesis-identity {
                            font-size: 12px;
                            color: #f07b3f;
                            cursor: pointer;
                        }

                        .thesis-abstract {
                            font-size: 12px;
                            color: #2d4059;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 2; /* number of lines to show */
                            line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                    }
                }
            }
        }
    }
}
