/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #ea5455;
  animation: l15 0.8s infinite linear;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 1.4s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 2.4s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}

.loading-wrapper{
  background-color: transparent!important;
}

.loading-wrapper {
  -webkit-clip-path: circle(70.7% at 50% 50%);
  clip-path: circle(70.7% at 50% 50%);
  z-index: 1100;
  backdrop-filter: blur(6.1px);
}