.navbar {
    p {
        color: #2d4059;
    }
    span {
        color: #2d4059;
    }

    .dropdown-menu {
        background-color: #2d4059;
    }

    .dropdown-item:hover {
        background-color: #b14e56;
    }

    .img-avatar {
        height: 50px;
        width: 50px;
        border-radius: 100px;
        object-fit: cover;
    }
}

.footer-wrapper {
    z-index: 500;
    border-top: 1px solid #8d8d8d;

    .footer-logo {
        max-width: 40px;
    }

    .footer-content {
        font-size: 14px;
    }

    .footer-text {
        @include media-breakpoint-down(md) {
            font-size: 12px;
        }
    }
}
