body {
  font-family: "Poppins", sans-serif;
  transition: all 0.5s ease-out;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #f5f5f5;
  height: 100dvh;

  p {
    color: #2d4059;
  }

  .ls-b {
    letter-spacing: -1px;
  }

  .ls-s {
    letter-spacing: -0.5px;
  }

  .content-wrapper {
    .breadcrumbs-box {
      border-bottom: 0.5px solid #8d8d8d;
      .page-title {
        font-size: 20px;
        letter-spacing: -1px;

        @include media-breakpoint-down(lg) {
          font-size: 16px;
          letter-spacing: -1px;
        }
      }

      .breadcrumb-item {
        font-size: 14px;
        letter-spacing: -0.5px;
      }
      .breadcrumb-item a {
        color: #2d4059;
      }

      .breadcrumb-item.active {
        color: #648bbf;
      }
    }

    .input-group {
      width: 100%;

      -webkit-box-shadow: -1px 24px 26px -8px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: -1px 24px 26px -8px rgba(0, 0, 0, 0.15);
      box-shadow: -1px 24px 26px -8px rgba(0, 0, 0, 0.15);
    }

    .main-content {
      .table-wrapper {
        .table {
          thead {
            tr {
              th {
                background-color: #ea5455;
                letter-spacing: 0.5px;
              }
            }
          }
          tbody {
            .btn-detail {
              background-color: #2d4059;
            }

            tr {
              td {
                font-weight: 300;

                @include media-breakpoint-down(lg) {
                  font-size: 14px;
                  letter-spacing: -0.5px;
                }
                @include media-breakpoint-down(md) {
                  font-size: 12px;
                }

                .btn {
                  @include media-breakpoint-down(lg) {
                    font-size: 14px;
                    letter-spacing: -0.5px;
                  }
                  @include media-breakpoint-down(md) {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
